JWT_SECRET_KEY=jwt-secret-key-very-important121412432323-1231236454545342342424
DB_URL=jdbc=postgresql://localhost:5432/database_name
DB_USERNAME=user
DB_PASSWORD=password
DB_DRIVER_CLASS_NAME=org.postgresql.Driver
EMAIL_ADDRESS=userEmail@domain.com
EMAIL_PASSWORD=1234